<h3><a routerLink="/"  [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active']" >About</a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="products"  [routerLinkActive]="['active']" > Product</a></h3>
<router-outlet></router-outlet>