<h1>App component: Demonstration of Passing data between components, style demo</h1>
<br>
<div *ngIf='childData'>Recetly Added Data : {{childData.name}},{{childData.quantity}}</div>
<hr/>
<app-products [receivedCompany]='companyName' (objEventEmitter)='childData=$event'></app-products>
