<h1>Product component : Demonstration of Built-in Directives and Data Binding</h1>

<hr/>
<h2> Product List - {{receivedCompany}}</h2><br>
<table border="1px solid black">
    <tr>
        <th>Product Name</th>
        <th>Quantity</th>
    </tr>
    <tr *ngFor="let products of producatList">
        <td><a [routerLink]="[products.id]" [state]="{product:products}">{{products.name}}</a></td>
        <td>{{products.quantity}}</td>
    </tr>
</table>
<br><br>
<label for="Productname">Product Name</label>
<input id="Productname" #newProductName newProductName.value=''  required>
<br>
<label for="ProductQuantity">Quantity</label>
<input id="ProductQuantity" type="number" #newProductQuantity newProductQuantity.value='' required><br>

<button (click)="addProduct(newProductName.value, newProductQuantity.value)">Add</button>